body {
    font-family: Arial, Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    color: black;
    background: linear-gradient(green, blue);
	text-align: center;
}

footer {
    padding: 15px 0;
    background-color: #ff0000;
    color: #00ff00;
    text-shadow:2px 2px black;
	box-shadow: 6px 6px 6px 2px black;
	border-radius: 20px;
	text-align: right;
}

@keyframes anim { 
from {margin-left:3px;} to {margin-left:500px;}
}

div {
	text-align: left;
	animation:anim 10s 3;
}

header {
    text-align: center;
	line-height: 2.5;
	padding: 15px 0;
    background-color: green;
    color: black;
	text-shadow:2px 2px yellow;
	box-shadow: 6px 6px 6px 2px yellow;
	margin-bottom: 30px;
	border-radius: 10px;
}

h5 {
	text-align: left;
	line-height: 1.5;
	padding: 30px 0;
	transform: translate(30px,10px);
	color: black;
	font-size: 16px;
	text-decoration: none;
}

li {
	text-align: center;
	display: inline-block;
	padding: 10px 20px;
	box-shadow: 6px 6px 6px 2px black;
	border-radius: 20px;
	color: black;
    background-color: #007bff;
	text-decoration: none;
}

.main-nav {
	color: black;
}

.nav-linc {
	color: red;
}